.facts {
    color: var(--color-white);
    border-radius: 20px;
    margin-top: 200px;
    padding: 20px 10px;
}

.facts__title {
    color: var(--color-white);
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}

.buttons__row {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.facts__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.facts__button {
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 15px;
}

.facts__button:disabled {
    opacity: 0.5;
    cursor: auto;
}

.facts__btn {
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .facts {
        color: var(--color-white);
    }

    .facts__title {
        font-size: 32px;
        margin-bottom: 40px;
    }


    .facts__list {
        row-gap: 13px;
    }

    .facts__button {
        margin-top: 30px;
        font-size: 22px;
        font-weight: 600;
        padding: 15px 30px;
        border-radius: 15px;
    }

    .facts__btn {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .facts {
        color: var(--color-white);
        margin-top: 100px;
    }

    .facts__title {
        font-size: 28px;
        margin-bottom: 20px;
    }


    .facts__list {
        row-gap: 8px;
    }

    .facts__button {
        margin-top: 20px;
        font-size: 17px;
        font-weight: 600;
        padding: 12px 30px;
        border-radius: 15px;
    }

    .facts__btn {
        margin-bottom: 30px;
    }
}

@media (max-width: 475px) {
    .buttons__row {
        display: flex;
        justify-content: center;
        column-gap: 10px;
    }

    .facts {
        color: var(--color-white);
        margin-top: 50px;
    }

    .facts__title {
        font-size: 20px;
        margin-bottom: 20px;
    }


    .facts__list {
        row-gap: 8px;
    }

    .facts__button {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 600;
        padding: 12px 25px;
        border-radius: 15px;
    }

    .facts__btn {
        margin-bottom: 30px;
    }
}