.actor {
    position: relative;
}

.actor__title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
}

.actor__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .actor__title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .actor__list {
        row-gap: 12px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .actor__title {
        margin-top: 80px;
        font-size: 28px;
        margin-bottom: 20px;
    }

    .actor__list {
        row-gap: 12px;
        margin-bottom: 30px;
    }
}

@media (max-width: 475px) {
    .actor__title {
        margin-top: 70px;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .actor__list {
        row-gap: 8px;
        margin-bottom: 30px;
    }
}