a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

body {
    font-family: var(--font-family);
    background: linear-gradient(-45deg, var(--color-blue-dark), #030a1be5, #030a1bf5, #030a1bf8, var(--color-blue-dark));
    height: 100%;
    color: var(--color-white);
    background-repeat: no-repeat;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
}

.uitools {
    width: 1000px;
    height: 550px;
}

:focus-visible,
a:focus-visible {
    outline: auto;
}

@media (max-width: 1024px) {
    .uitools {
        width: 700px;
        height: 385px;
    }
}

@media (max-width: 768px) {
    .uitools {
        width: 460px;
        height: 255px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 0 var(--container-padding-mobile-x);
    }

    .uitools {
        width: 320px;
        height: 180px;
    }
}