.about {
    margin-top: 80px;
    background-color: var(--color-blue-dark);
    padding-top: 50px;
}

.about__title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px;
}

.about__short {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.about__long {
    font-weight: 500;
    font-size: 20px;
}

@media (max-width: 1024px) {
    .about {
        margin-top: 80px;
    }

    .about__title {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 25px;
    }

    .about__short {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .about__long {
        font-weight: 400;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .about {
        margin-top: 80px;
    }

    .about__title {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .about__short {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .about__long {
        font-size: 18px;
    }
}


@media (max-width: 475px) {
    .about {
        margin-top: 60px;
        background-color: var(--color-blue-dark);
        padding-top: 30px;
    }

    .about__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .about__short {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .about__long {
        font-size: 15px;
    }
}