.profile {
    margin-top: 150px;
    margin-bottom: 950px;
}

.profile__content {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-blue);
    column-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.profile__leave {
    color: var(--color-blue);
    font-size: 16px;
    margin-bottom: 5px;
}

.profile__title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px;
}

.content__title {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 20px;
    font-weight: 400;
}

.content__list {
    margin-top: 50px;
    margin-bottom: 100px;
}

@media (max-width: 1024px) {
    .profile {
        margin-top: 120px;
    }

    .profile__title {
        font-size: 38px;
        margin-bottom: 20px;
    }

    .content__title {
        row-gap: 15px;
        font-size: 18px;
    }

    .content__list {
        margin-top: 0px;
    }

    .profile__leave {
        font-size: 14px;
    }
}

@media (max-width: 475px) {
    .profile {
        margin-top: 100px;
    }

    .profile__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .profile__leave {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .content__title {
        row-gap: 5px;
        font-size: 16px;
    }

    .content__list {
        margin-top: 0px;
    }
}