.news {
    background-color: #228de59d;
    backdrop-filter: blur(5px);
    padding: 90px 0px;
    background-image: url('../../../../img/bg.png');
    margin-bottom: -40px;
    position: relative;
}

.news__row {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.news__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #020816;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
}

.news__button {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    padding: 0px 60px;
    border-radius: 60px;
    backdrop-filter: blur(5px);
    height: 75px;
    text-align: center;
    padding-top: 14px;
}

@media (max-width: 1024px) {
    .news {
        padding: 60px 0px;
    }

    .news__row {
        row-gap: 40px;
    }

    .news__title {
        font-size: 32px;
        padding: 20px 30px;
    }

    .news__button {
        font-size: 24px;
        text-align: center;
        color: var(--color-white);
        border: 2px solid var(--color-white);
        padding: 0px 40px;
        border-radius: 60px;
        backdrop-filter: blur(6px);
        height: 60px;
        text-align: center;
        padding-top: 13px;
    }
}

@media (max-width: 768px) {
    .news {
        padding: 50px 0px;
        margin-top: -60px;
        margin-bottom: -370px;
    }

    .news__row {
        row-gap: 40px;
    }

    .news__title {
        font-size: 28px;
        padding: 20px 30px;
    }

    .news__button {
        font-size: 21px;
        text-align: center;
        color: var(--color-white);
        border: 2px solid var(--color-white);
        padding: 0px 40px;
        border-radius: 60px;
        backdrop-filter: blur(6px);
        height: 53px;
        text-align: center;
        padding-top: 11px;
    }
}

@media (max-width: 475px) {
    .news {
        padding: 20px 0px 30px 0px;
        background-size: 180%;
        margin-bottom: -100px;
        margin-top: -50px;
    }

    .news__row {
        row-gap: 20px;
    }

    .news__title {
        font-size: 17px;
        padding: 15px 20px;
        display: none;
    }

    .news__button {
        font-size: 18px;
        text-align: center;
        color: var(--color-white);
        border: 2px solid var(--color-white);
        padding: 0px 40px;
        height: 48px;
        text-align: center;
        padding-top: 11px;
        backdrop-filter: blur(4px);
    }
}