.reviews {
    position: relative;
    margin-bottom: 80px;
}

.reviews__title {
    font-size: 48px;
    font-weight: 500;
    font-family: var(--font-family-2);
    margin-bottom: 30px;
}

.swiper__buttons {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin-top: 30px;
}

.swiper__button {
    width: 60px;
}

@media (max-width: 1024px) {
    .reviews {
        margin-bottom: 80px;
        margin-top: 110px;
    }

    .reviews__title {
        font-size: 36px;
        font-family: var(--font-family-2);
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .reviews {
        margin-bottom: 80px;
        margin-top: 110px;
    }

    .reviews__title {
        font-size: 32px;
        font-family: var(--font-family-2);
        margin-bottom: 20px;
    }
}

@media (max-width: 475px) {
    .reviews {
        margin-bottom: 80px;
        margin-top: 85px;
    }

    .reviews__title {
        font-size: 26px;
        font-family: var(--font-family-2);
        margin-bottom: 20px;
    }

    .swiper__buttons {
        column-gap: 60px;
        margin-top: 20px;
    }

    .swiper__button {
        width: 45px;
    }
}